<div class="container"style="margin: 50px 50px 50px 50px;border: 2px solid ;">
    <br /><br />
    <div class="row mb-4">
  
        <div class="col-md-8">
          <p style="text-align: center; size: 50%;"><b>Eployee's</b></p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-primary" routerLink="/create-employee">Create New Employee</a>
        </div>
      
    </div>
    <app-employee-list></app-employee-list>
  </div>
  