<div class="container mt-3" >
    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/assets/amazon.png" style="height: 200px; width: 338px" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">AMAZON PRIME VIDEO</a>
              </h4>
              <h5>{{amazon | currency:'INR'}}</h5>
              <p class="card-text">Watch Unlimited Movies, TV Shows & Get Free Shipping Benefits with Amazon Prime. High Quality. Multiple Devices. Low Data Usage. No Ads.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click) = "subscribeAmazon()">Get Started..!!!</button>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/assets/zee.jpg" style="height: 200px; width: 338px" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">ZEE5</a>
              </h4>
              <h5>{{zee | currency:'INR'}}</h5>
              <p class="card-text">enjoy the Exclusive Movies & Shows online. Save your Money and also Enjoy the best Movies & Shows online. Subscribe to ZEE5 Now.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click) = "subscribeZee()">Get Started..!!!</button>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/assets/netflix.jpg" style="height: 200px; width: 338px" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">NETFLIX</a>
              </h4>
              <h5>{{netflix | currency:'INR'}}</h5>
              <p class="card-text">Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click) = "subscribeNetflix()">Get Started..!!!</button>
            </div>
          </div>
        </div>
    
        
    
      </div>
      <!-- /.row -->

</div>

  