<div class="container mt-5 mb-5" >
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form (submit)="login(loginManager)"
				#loginManager="ngForm">
					<div class="input-group form-group mt-3" >
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username" name="username" ngModel>
						
					</div> 
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password" ngModel>
					</div>
					<div class="input-group form-group" *ngIf = "valid==1" style="color: brown; text-align: center;">
						<b>*Please enter valid credentials</b>
					</div>
					<div class="form-group">
						<button type="submit" value="Login" class="btn float-right login_btn">Login</button>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a routerLink="/sign-up">Sign Up</a>
				</div>
				
			</div>
		</div>
	</div>
</div>