<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let employee of employees; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.address}}</td>
        <td><a routerLink = "/update-employee/{{employee.id}}"><i class="fas fa-edit"></i></a></td>
        <td><a (click) = "deleteEmployee(employee.id)"><i class="fas fa-trash-alt"></i></a></td>

      </tr>
      
    </tbody>
  </table>