<app-navigation></app-navigation>
<!-- Page Content -->
<div class="container">

  <router-outlet></router-outlet>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
  </div>
  <!-- /.container -->
</footer>