<div class="container"style="margin: 50px 50px 50px 50px;">
    <form (submit)="updateEmployee(addEmployee)" #addEmployee="ngForm">
      <div class="form-group">
        <label for="exampleFormControlInput1">First Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="employee.firstName"
          name="firstName"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="employee.lastName"
          name="lastName"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Address</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="employee.address"
          name="address"
          ngModel
        />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>