<div class="container"><br>
    <div>
        <p style="text-align: center;"><b>Payment Dashboard</b></p>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Subscription</th>
            <th scope="col">Phone</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let payment of payments;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{payment.name}}</td>
            <td>{{payment.productInfo}}</td>
            <td>{{payment.phone}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.paymentDate | date: 'dd/MM/yyyy'}}</td>
          </tr>
          
        </tbody>
      </table>
</div>
