<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          
          <li class="nav-item" *ngIf="managerService.isAuthenticated()">
            <a class="nav-link " routerLink = "/payment-dashboard">Payments</a>
          </li>
          <li class="nav-item" *ngIf="managerService.isAuthenticated()">
            <a class="nav-link" routerLink="/manager-home" >Employees</a>
          </li>
          <li class="nav-item" *ngIf="!managerService.isAuthenticated()">
            <a class="nav-link btn btn-primary ml-4" routerLink = "/sign-in">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="managerService.isAuthenticated()">
            <button class="nav-link btn btn-primary ml-4" (click)="logOut()">Sign Out</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  